/* 채팅 목록*/
.chat-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 3px 20px;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.chat-list-header {
    padding: 3px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.new-chat-button {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
    color: #a2a2a2;
}

/*.chat-search-input {*/
/*    width: 70%;*/
/*    padding: 8px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 20px;*/
/*}*/

.chat-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 12px 10px 12px 5px;
    cursor: pointer;
    height: 80px;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.chat-item:hover {
    background-color: #f9f9f9
}

.chat-icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 60px;
    height: 60px;
}

.chat-icon-grid.single {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.chat-icon-grid .chat-icon {
    width: 100%;
    height: 100%;
}

.chat-icon-grid .chat-icon.icon1 {
    color: black;
}

.chat-icon-grid .chat-icon.icon2 {
    color: #FF6B6B;
}

.chat-icon-grid .chat-icon.icon3 {
    color: #4ECDC4;
}

.chat-icon-grid .chat-icon.icon4 {
    color: #FFD93D;
}


.chat-icon-grid.single .chat-icon {
    font-size: 40px;
    color: #0057a2;
}

.chat-info {
    flex: 1;
    margin-left: 20px;
}

.chat-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    position: relative;
}

.chat-time {
    font-size: 12px;
    color: #b2b2b2;
    position: absolute;
    right: 0;
    top: 0;
}

.last-message {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 채팅방  */

.chat-room {
    width: 380px;
    height: 550px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12%;
    left: 39%;
    transform: translate(-50%, -50%);
    z-index: 10011;
}

.chat-room-modal {
    color: black;
}

.chat-room-header {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-room-header h2 { margin: 0; }
.chat-room-modal .close-button { background: none; border: none; font-size: 21px; cursor: pointer; color: #888;}

/* 채팅방 메시지 */
.chat-room-body { flex: 1; padding: 15px; overflow-y: auto; display:flex; flex-direction: column; gap: 10px; position: relative; }
/* 수신 메시지 */
.chat-message { display:flex; flex-direction: column; border-radius: 8px; background-color: #c9e3f9;  color: #333333;
    border: none; align-self: flex-start; max-width: 70%; margin: 5px 0; z-index: 2000; min-width: 106px;
    position: relative; }
/* 발신 메시지 */
.chat-message.own {
    padding: 8px 13px 8px 10px;
    display: flex;
    color:white; flex-direction: column; border-radius: 8px;
    align-self: flex-end; background-color: #f0f0f0; max-width: 70%;
    margin: 5px 0; position: relative; border: none;}
.chat-message .message-content { padding: 0 14px; font-size: 15px; color: #333333;
    margin: 0; word-wrap: break-word; overflow-wrap: break-word;
    border: none; background-color: #c9e3f9; z-index: 2000;}
.chat-message.own .message-content { padding: 3px; font-size: 15px; background-color: #f0f0f0; color: #333; margin: 0;
    word-wrap: break-word; overflow-wrap: break-word;  border: none;}

/* 수신메시지 화살표 */
.chat-message::after {
    z-index: 2000;
    content: "";
    position: absolute !important;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: #c9e3f9;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    border-radius: 5px;
}
/* 발신메시지 화살표 */
.chat-message.own::after {
    content: "";
    position: absolute !important;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: #f0f0f0;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    border-radius: 5px;
    left: auto;
}

.chat-message .profile-image { width: 30px; height: 30px; border-radius: 50%; margin-right: 8px; }

.message-recipient { font-size: 12px; font-weight: bold; color: #555; margin-bottom: 5px; }

.message-timestamp { font-size: 11px; color: #999; text-align: right;  margin-top: 5px;}

.chat-room-footer { padding: 10px; background-color: #f8f8f8; display: flex; align-items: center; gap: 5px; border-top: 1px solid #ddd; }


.file-icon { font-size: 18px; color: #5b5b5f; margin-right: 5px; }
.chat-room-footer input[type="text"] { flex: 1; padding: 8px; border: 1px solid #ddd; outline: none; }

.chat-room-footer button {
    background-color: #c9e3f9;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* 직원 검색 모달 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #73737375;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay { z-index: 3000 !important; }
.modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    z-index: 2100;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.modal_container.modal_container.search {
    height: 600px !important;
    width: 450px !important;
    color: black;
}

.search_wrap {
    justify-content: space-between !important;
}

.create-wrap {
    display: flex;
    align-items: center;
}

.btn-create {
    background: none;
    border: none;
    outline: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
    padding: 6px 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-radius 0.3s;
}

.btn-create:hover { background-color: #f0f0f0;border-radius: 20px; }
.btn-create:hover svg { display: none; }
.new-chat-modal .pagination-container .pagination .box.active { background-color: #f0f0f0 !important; border-color: #f0f0f0 !important; color: #333 !important; }

/* 직원 검색 */
.modal_container.search_employee .table_wrap table th:nth-child(1),
.modal_container.search_employee .table_wrap table td:nth-child(1) { width: 16%; cursor: pointer; /* 체크박스 */ }
.modal_container.search_employee .table_wrap table th:nth-child(2),
.modal_container.search_employee .table_wrap table td:nth-child(2) { width: 28%; /* 이름 */ }
.modal_container.search_employee .table_wrap table th:nth-child(3),
.modal_container.search_employee .table_wrap table td:nth-child(3) { width: 28%; /* 부서 */ }
.modal_container.search_employee .table_wrap table th:nth-child(4),
.modal_container.search_employee .table_wrap table td:nth-child(4) { width: 28%; /* 직급 */ }

.search_employee .search_box.has_text .btn-del { color: black; }
.search_employee .messenger-panel .search_box.has_text button i { top: 50%; right: 10px; transform: translateY(-50%); }


/* 선택된 직원 목록 */
.selected-employees { margin: 10px 0; }

.selected-employees-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-employee-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    color: #333;
}

.selected-employee-item button {
    background: none;
    border: none;
    color: #545252;
    font-size: 23px;
    cursor: pointer;
    margin-left: 2px;
    display: flex;
    align-items: center;
}

/* 체크박스 */
.checkbox-container { display: inline-block; position: relative; }
.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ddd;
    border-radius: 50%;
    /*border-radius: 4px;*/
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: "";
    background-color: #FCD53F;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 우클릭 메뉴 */
.context-menu {
    position: fixed;
    z-index: 2000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    visibility: visible;
    white-space: nowrap;
    color: black;
    box-sizing: border-box;
    width: 130px;
    font-size: 16px;
}

.context-menu ul { margin: 0; padding: 0; list-style-type: none; display: flex; flex-direction: column; }
.context-menu ul li { padding: 8px 12px !important; display: flex; align-items: center; cursor: pointer; }
.context-menu ul li:hover { background-color: #F4F4F4; }

/* sweetalert2 커스텀 */
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) { background-color: #C9DAEC; }
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):focus-visible { box-shadow: 0 0 0 3px #F1F1F1; }