/* 채팅 목록 스타일 */
.chat-list-container { width: 100%; height: 100%; display: flex; flex-direction: column; background-color: #ffffff; border-right: 1px solid #e0e0e0; padding: 3px 20px; margin: auto; box-sizing: border-box; overflow-x: hidden; overflow-y: auto; }
.chat-list-header { padding: 3px; border-bottom: 1px solid #e0e0e0; display: flex; align-items: center; justify-content: flex-end; }
.new-chat-button { margin-left: auto; background: none; border: none; font-size: 23px; cursor: pointer; color: #a2a2a2; }
.chat-list { list-style: none; margin: 0; padding: 0; overflow-y: auto; }
.chat-item { display: flex; align-items: center; padding: 12px 10px 12px 5px; cursor: pointer; border-bottom: 1px solid #f0f0f0; transition: background-color 0.3s; width: 100%; height: 80px; box-sizing: border-box; overflow: hidden; }
.chat-item:hover { background-color: #f9f9f9; }
.chat-info { flex: 1; margin-left: 16px; overflow: hidden; height: 100%; display: flex; flex-direction: column; justify-content: center;}
.chat-name { font-weight: bold; font-size: 16px; color: #333; position: relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.chat-time { transform: translateY(10%); font-size: 12px; color: #b2b2b2; position: absolute; right: 0; top: 0; font-weight: normal; }
.last-message { font-size: 14px; color: #666; margin-top: 8px; min-height: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; x-overflow: hidden; text-overflow: ellipsis; }

/* 채팅 목록 프로필 사진 */
.chat-icon-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 2px; width: 60px; height: 60px;}
.chat-icon-grid.single { display: flex; justify-content: center; align-items: center; width: 60px !important; height: 60px !important; border-radius: 50% !important;  overflow: hidden;}
.chat-icon-grid.single .chat-icon { display: flex; justify-content: center; align-items: center; width: 60px !important; height: 60px !important; border-radius: 50% !important;  overflow: hidden;}
.chat-icon-grid.single img.chat-icon { width: 60px !important; height: 60px !important; }
.chat-icon-grid img { width: 40px; height: 40px; object-fit: cover; border-radius: 50%; }
.chat-icon-grid img.chat-icon { width: 30px; height: 30px; border-radius: 50%; object-fit: cover; }
.chat-icon-grid .chat-icon.icon1,
.chat-icon-grid .chat-icon.icon2,
.chat-icon-grid .chat-icon.icon3,
.chat-icon-grid .chat-icon.icon4 { width: 30px; height: 30px; border-radius: 50%; object-fit: cover; }
.chat-icon-grid .chat-icon.icon1 { color: #FFD93D; }
.chat-icon-grid .chat-icon.icon2 { color: #FF6B6B; }
.chat-icon-grid .chat-icon.icon3 { color: #4ECDC4; }
.chat-icon-grid .chat-icon.icon4 {  color: black; }
.chat-icon-grid.single .chat-icon { font-size: 40px; color: #0057a2; border-radius: 50%; object-fit: cover; }

/* 채팅방  */
.chat-room {
    width: 380px;
    height: 550px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12%;
    left: 39%;
    transform: translate(-50%, -50%);
    z-index: 10011;
}

.chat-room-modal { color: black; }
.chat-room-header { padding: 14px; font-size: 12px; color: #333; background-color: #f8f8f8; border-bottom: 1px solid #dddddd54; display: flex; justify-content: space-between; align-items: center; }
.chat-room-header h2 { margin: 0; }
.chat-room-modal .close-button { background: none; border: none; font-size: 21px; cursor: pointer; color: #888;}

/* 채팅방 메시지 스타일 */
.chat-room-body { flex: 1; padding: 15px; overflow-y: auto; display:flex; flex-direction: column; gap: 10px; position: relative; overflow-x: hidden; word-wrap: break-word;}
.chat-message-container { display: flex; align-items: flex-start; gap: 10px; margin: 8px 0; max-width: 70%; position: relative;}
.chat-message-container.own { flex-direction: row-reverse; align-self: flex-end; }
.chat-message { background-color: #dcefff; padding: 8px 11px; position: relative; max-width: 70%; word-wrap: break-word; overflow-wrap: break-word; white-space: pre-wrap; max-width: 230px; position: relative; border: 2px solid #bbd8f2; }
.chat-message p { margin: 0px; }
.chat-message.own { background-color: #f0f0f0; border: 2px solid #dddce2;}
img.profile-image { width: 60px; height: 60px; border-radius: 50%; object-fit: cover; min-width: 60px; }
.message-content { font-size: 15px; color: #333333; }
.message-wrap { display: flex; flex-direction: column; align-items: flex-start; position: relative;}
.own .message-wrap { align-items: flex-end; }
.sender-name { font-size: 14px; font-weight: bold; color: #555; margin-bottom: 5px; font-weight: bold; }
.message-recipient { font-size: 13px; font-weight: bold; color: #555; margin-bottom: 5px; min-width: 60px; }
.chat-message img.message-image {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
}


/* 시간 스타일 */
.timestamp-left { font-size: 11px; position: absolute; color: #8f8f8f; margin-top: 5px; padding-left: 4px; padding-right: 0px; bottom: -1px; right: -53px; align-self: flex-start; }
.timestamp-right { text-align: left; color: #8f8f8f; font-size: 11px; left: -54px; bottom: 0px; position: absolute; text-align: right; margin-left: auto;}

/* 날짜 구분선 스타일 */
.date-separator { text-align: center; margin: 10px 0; font-size: 13px; color: #888; position: relative; overflow: hidden;}
.date-separator span { background: #ffffff; padding: 0 10px; position: relative; z-index: 1; }
.date-separator:before { content: ""; display: block; width: 100%; height: 1px; background: #ccc; position: absolute; top: 50%; left: 0; z-index: 0; }

/* 채팅방 footer */
.chat-room-footer { background-color: #f8f8f8; display: flex; gap: 5px; border-top: 1px solid #ddd; padding: 11px 10px; position: relative;}
.chat-room-btn { display: flex; flex-direction: column; gap: 7px; align-items: center; }
.file-icon { display: flex; font-size: 24px; color: #5b5b5f; margin-right: 5px; }
.emoji-picker-container {
    position: absolute;
    bottom: 100%; /* 이모티콘 피커가 chat-room-footer 바로 위에 뜨도록 설정 */
    left: 0;
    z-index: 1044;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    border-radius: 10px;
}
.chat-room-footer .epr_q53mwh.epr_-8ygbw8.epr_346qu6.epr_-lzq3oa {
    margin-left: 7px;
}
.chat-room-footer div#epr-category-nav-id {
    padding: 0px 5px 10px 5px;
}

.chat-room-footer aside.epr-main.EmojiPickerReact.epr_mw4zr1.epr_q53mwh.epr_7hyle2.epr_-x928hz.epr_-rvl3je.epr_-khp9xq.epr_-to8mm.epr_-4ueg5a.epr_iddbfm.epr_vy4vae.epr_6daqyu.epr_-6npj90 {
    height: 467px;
    width: 380px;
    top: -1200%;
    border: 1px solid #ccc;
}

/* 이미지 미리보기 관련 스타일 */
.chat-input-preview-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.image-preview {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.preview-thumbnail {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 8px;
}

.chat-input-preview-wrapper .remove-image-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
    margin-left: 5px;
}



/* Emoji picker에서 불필요한 요소 숨기기 */
.emoji-picker-react .epr-emoji-preview, .emoji-picker-react .epr-category-nav { display: none !important; }
.chat-room-footer .epr_-6npj90 { --epr-highlight-color: #bdbdbd; }
.chat-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.chat-input { flex-grow: 1; padding: 14px; border: 1px solid #ddd; outline: none; height: 55px; margin-right: 12px; }
.chat-room-footer button.chat-room-submit-btn {
    background-color: #606060;
    border: none;
    width: 47px;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    height: 55px;
}

/* 직원 검색 모달 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #73737375;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay { z-index: 3000 !important; }
.new-chat-modal .modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    z-index: 2100;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.modal_container.modal_container.search { height: 600px !important; width: 450px !important; color: black; }
.search_wrap { justify-content: space-between !important; }
.create-wrap { display: flex; align-items: center; }

.btn-create {
    background: none;
    border: none;
    outline: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
    padding: 6px 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-radius 0.3s;
}

.btn-create:hover { background-color: #f0f0f0;border-radius: 20px; }
.btn-create:hover svg { display: none; }
.new-chat-modal .pagination-container .pagination .box.active { background-color: #f0f0f0 !important; border-color: #f0f0f0 !important; color: #333 !important; }

/* 직원 검색 */
.modal_container.search_employee .table_wrap table th:nth-child(1),
.modal_container.search_employee .table_wrap table td:nth-child(1) { width: 16%; cursor: pointer; /* 체크박스 */ }
.modal_container.search_employee .table_wrap table th:nth-child(2),
.modal_container.search_employee .table_wrap table td:nth-child(2) { width: 28%; /* 이름 */ }
.modal_container.search_employee .table_wrap table th:nth-child(3),
.modal_container.search_employee .table_wrap table td:nth-child(3) { width: 28%; /* 부서 */ }
.modal_container.search_employee .table_wrap table th:nth-child(4),
.modal_container.search_employee .table_wrap table td:nth-child(4) { width: 28%; /* 직급 */ }

.search_employee .search_box.has_text .btn-del { color: black; }
.search_employee .messenger-panel .search_box.has_text button i { top: 50%; right: 10px; transform: translateY(-50%); }


/* 선택된 직원 목록 */
.selected-employees { margin: 10px 0; }

.selected-employees-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-employee-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    color: #333;
}

.selected-employee-item button {
    background: none;
    border: none;
    color: #545252;
    font-size: 23px;
    cursor: pointer;
    margin-left: 2px;
    display: flex;
    align-items: center;
}

/* 체크박스 */
.checkbox-container { display: inline-block; position: relative; }
.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ddd;
    border-radius: 50%;
    /*border-radius: 4px;*/
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: "";
    background-color: #FCD53F;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 우클릭 메뉴 */
.context-menu {
    position: fixed;
    z-index: 2000;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    visibility: visible;
    white-space: nowrap;
    color: black;
    box-sizing: border-box;
    width: 130px;
    font-size: 16px;
}

.context-menu ul { margin: 0; padding: 0; list-style-type: none; display: flex; flex-direction: column; }
.context-menu ul li { padding: 8px 12px !important; display: flex; align-items: center; cursor: pointer; }
.context-menu ul li:hover { background-color: #F4F4F4; }

/* sweetalert2 커스텀 */
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) { background-color: #C9DAEC; }
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):focus-visible { box-shadow: 0 0 0 3px #F1F1F1; }
div:where(.swal2-icon).swal2-warning {
    border-color: rgb(237 156 156);
    color: rgb(237 156 156);
}