/* 모달 기본 레이아웃 */
.modal_container.dispatch { width: 620px; }
.modal_container.dispatch .modal-actions { margin-top: 5px; }
.modal_container .header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
/* 확인 모달 스타일 */
.confirm-modal-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; z-index: 1000; }
.confirm-modal-content { background: white; padding: 20px; border-radius: 8px; max-width: 500px; width: 90%; max-height: 15vh; overflow-y: auto; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); position: relative; text-align: center; }
.confirm-modal-content .modal-footer { margin-top: 20px; display: flex; justify-content: center; }
.confirm-modal-content .confirm-button,
.confirm-modal-content .cancel-button { margin: 0 10px; padding: 10px 20px; }
/* 창고 배정 모달 폼 */
.detail-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.form-group label { margin-bottom: 2px; font-weight: 500; color: #444; margin-left: 2px; font-size: 15px; }
.form-group input,
.form-group select { padding: 10px; border: 1px solid #ddd; border-radius: 5px; font-size: 14px; transition: border-color 0.3s ease; font-family: "Pretendard", sans-serif; height: 40px;  }
.form-group input[readonly], .form-group select[readonly]
.form-group input:disabled, .form-group select:disabled { background-color: #fafafa; }
.form-group input:focus, .form-group select:focus { border-color: #007CC1; }
.form-group .span_red { color:red }
/* 버튼 */
.submit-button { background-color: #007CC1; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; position: absolute; right: 35px; bottom: 20px; }
.submit-button:hover { background-color: #005fa3; }
/* 테이블 */
.dispatch-table { width: 100%; border-collapse: collapse; margin-top: 20px; }
.dispatch-table th, .dispatch-table td { border: 1px solid #ddd; padding: 8px; text-align: left; }
.dispatch-table th { background-color: #f2f2f2; }
.dispatch-table tr:hover { background-color: #f1f1f1; }

/* 섹션별 테이블 스타일 */
.dispatch-info table,
.product-info table,
.quantity-acceptance table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.dispatch-info table th,
.product-info table th,
.quantity-acceptance table th,
.dispatch-info table td,
.product-info table td,
.quantity-acceptance table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dispatch-info table th,
.product-info table th,
.quantity-acceptance table th {
    width: 30%;
    background-color: #f9f9f9;
    text-align: left;
}
/* 개별 열 너비 지정 */
.menu_dispatch .table_wrap table th:nth-child(1),
.menu_dispatch .table_wrap table td:nth-child(1) { width: 45px; text-align: center; /* 체크박스 */ }
.menu_dispatch .table_wrap table th:nth-child(2),
.menu_dispatch .table_wrap table td:nth-child(2) { width: 80px; /* 번호 */ }
.menu_dispatch .table_wrap table th:nth-child(3),
.menu_dispatch .table_wrap table td:nth-child(3) { width: 12%; /*고객사 */}
.menu_dispatch .table_wrap table th:nth-child(4),
.menu_dispatch .table_wrap table td:nth-child(4) { width: 17%; /* 상품명 */ }
.menu_dispatch .table_wrap table th:nth-child(5),
.menu_dispatch .table_wrap table td:nth-child(5) { width: 13%; /* 납품 요청일 */ }
.menu_dispatch .table_wrap table th:nth-child(6),
.menu_dispatch .table_wrap table td:nth-child(6) { width: 13%; /* 출고상태 */ }
.menu_dispatch .table_wrap table th:nth-child(7),
.menu_dispatch .table_wrap table td:nth-child(7),
.menu_dispatch .table_wrap table th:nth-child(8),
.menu_dispatch .table_wrap table td:nth-child(8) { width: 165px; /* 출고 시작, 완료 일시 */ }
.menu_dispatch .table_wrap table th:nth-child(9),
.menu_dispatch .table_wrap table td:nth-child(9) { width: 13%; /* 출고 창고명 */ }
.menu_dispatch .table_wrap table th:nth-child(10),
.menu_dispatch .table_wrap table td:nth-child(10) { width: 100px; /* 액션 */ }
/* 출고 지시 모달 폼 */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal_container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    position: flexed;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    max-height: 90vh;
    overflow-y: auto;
}

/* 창고 배정 모달 */

/* 모달 닫기 버튼 */
.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    font-weight: bold;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group p {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
}

/* QR코드 및 다운로드 버튼 섹션 */
.qr-and-download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.qr-and-download .qr-code-container {
    margin-right: 20px;
}

.qr-and-download button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color:#007CC1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 출고 버튼을 모달 상단 오른쪽에 위치 */
.modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 출고증 제목 스타일 */
.dispatch-note {
    text-align: center;
    margin-top: 60px; /* 상단 버튼과 간격 조정 */
    margin-bottom: 20px;
}
.dispatch-note h2 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
}
/* 고객사와 공급자 정보를 좌우로 배치 */
.customer-supplier {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-info, .supplier-info {
    width: 48%;
}

.customer-info label, .supplier-info label {
    font-weight: bold;
}

.customer-info p, .supplier-info p {
    margin: 5px 0;
}


.modal-actions .box {
    background-color: #007CC1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* 출고지시 버튼 */
.right {
    display: flex;
    justify-content: flex-end;
}
